.appointments-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px - 44px - 60px);
  font-weight: 400;
}

.no-appointments {
  transform: translateY(-40px);
  font-size: 18px;
  font-weight: 400;
  color: rgb(48, 48, 48);
  letter-spacing: -0.2px;
  word-spacing: 1px;
}
